/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 72px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 57px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1.2;
    color: var(--heading-color);
    margin-bottom: 1.5rem;
    letter-spacing: -1px;

    @media (max-width: 768px) {
      font-size: 2.2rem;
    }
  }

  p {
    font-size: 0.9rem;
    line-height: 1.8;
    color: color-mix(in srgb, var(--default-color), transparent 25%);
    max-width: 900px;
    margin: 0 auto;
    text-wrap: balance;
  }
}

@import './sections/_hero.scss';
@import './sections/_about.scss';
@import './sections/_services.scss';
@import './sections/_call-to-action.scss';
@import './sections/_features.scss';
@import './sections/_clients.scss';
@import './sections/_portfolio.scss';
@import './sections/_pricing.scss';
@import './sections/_faq.scss';
@import './sections/_team.scss';
@import './sections/_contact.scss';
@import './sections/_portfolio-details.scss';
@import './sections/_service-details.scss';
@import './sections/_starter-section.scss';